name: Install Python Dependencies

on:
  push:
    branches:
      - main  # Adjust this to your default branch name

jobs:
  install-modules:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11  # Specify your desired Python version

      - name: Install dependencies
        run: |
          while read -r module; do
            pip install "$module" || true
          done < requirements.txt

      - name: Run main.py
        run: python main.py
